{% extends "_super_base.html" %}
{% load static %}
{% block content %}
<div class="row mb-0 mt-3">
  <div class="col-sm">
    <h2 class="text-center pb-1 fs-3">
      Детали заказа
    </h2>
  </div>
</div>
<form action="{% url 'make_order' %}" class="form-group" method='POST'>
  {% csrf_token %}
  {% for field in cake_params %}
    {{ field.as_hidden }}
  {% endfor %}
  <div class="row mb-0 mt-2 fs-5">
    <div class="col-sm-6 me-auto ms-auto">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Куда привезти
            {% include '_required_field.html' with field=form.order_datetime %}
          </span>
        </div>
        {{ form.destination }}
      </div>
    </div>
  </div>
  <div class="row mb-0 fs-5">
    <div class="col-sm-6 me-auto ms-auto">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Когда
            {% include '_required_field.html' with field=form.order_datetime %}
          </span>
        </div>
        {{ form.order_datetime }}
      </div>
      <p class="small fs-6">
        {{ form.order_datetime.help_text }}
        <p id="raise_price_notification" class="small fs-6 text-primary">
        </p>
      </p>
    </div>
  </div>
  <div class="row mb-0 fs-5 mb-2">
    <div class="col-sm-6 me-auto ms-auto">
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            Промокод
          </span>
        </div>
        <input type="text" class="form-control" id="promo" maxlength="5">
        <input type="hidden" id="promo_code" name="promo_code">
      </div>
      <p id="promocode_checking" class="small fs-6 mb-1 mt-0"></p>
    </div>
  </div>
  <div class="row mb-0 fs-5">
    <div class="col-sm-6 me-auto ms-auto">
      <div class="input-group input-group-sm mb-0">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Комментарий (не обязательно)
          </span>
        </div>
      </div>
      {{ form.comments }}
    </div>
  </div>
  <div class="row mb-3 mt-0 fs-5">
    <div class="col-sm-6 mt-0 me-auto ms-auto">
      <div class="container border border-1 text-center">
      <h2 class="pb-1 fs-3 mb-0">
        Цена Вашего торта
      </h2>
      <p class="small mt-0" id="cakePriceLabel"></p>
      <h2 id="total_price">
        {{ price }} &#8381;
      </h2>
      <input type="hidden" id="price" name="cake_price">
    </div>
    </div>
  </div>
  <div class="row mb-3 ps-2 pe-2 fs-5">
    <div class="col-6 p-2 m-auto">
      <input type="submit" value="Жду торт!" id="submit_order" class="btn btn-primary" style="width: 100%;">
    </div>
  </div>
</form>
{% endblock content %}
{% block script %}
  <script src="{% static 'promo.js' %}"></script>
{% endblock %}